
body {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    background-color: #A3bbad;
}

h1 {
    font-family: "Dancing Script";
    font-size: 50px;
    font-weight: 400;
}
h2{
    font-size: 36pt;
    margin: 0 auto;
    padding: 1.5rem;
}

h4 {
    font-size: 16px;
    font-weight: 300;
}

h5{
  border: 5px solid #000;
  padding: 1.0rem;
  margin: auto;
  text-align: center;
}
p {
    font-size: 17px;
    align-items: center;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: #000;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: auto;
  }
  
 nav a {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
  }
  nav li a:hover:not(.active) {
    background-color: #E4C5AF;
  }
  
  .active {
    background-color: #04AA6D;
  }

.header-container {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 1.5rem;
    justify-content: center;
    float: left;
}

.header-profile-img {
    width: 250px;
    height: 250px;
    background: white;
    border-radius: 100%;
    border: 3px solid white;
    box-shadow: 0 0 30px 0 white;
}

.header-wrapper {
    float: none;
    letter-spacing: .3em;
    color: black;
    margin: 0;
    padding: 2rem;
}
.btn {
    float: right;
    padding: .5rem;
    padding-right: 15%;
  
}
.button, .button2 {
    background-color: #E4C5AF;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
  }

.skills-container {
    height: 150px;
    margin: 0 auto;  
    display: flex;
    padding: .5rem;
    align-items: center;
    color: #E4C5AF;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.features{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap:5%;
    width: 95vw;
    height: 50vh;
    padding: 2.0rem;
}
.grid-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
  }
  
  .grid-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1;
  }
  
  .grid-3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
  }
  
  .grid-4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 2;
  }

.information {
  padding: 5%;
  margin: 0 auto;
}
  @media screen and (max-width: 600px) {

    .header-container {
        width: 200px;
        height: 200px;   
        float: none;
        padding: 5%;
        flex-direction: column;
        justify-content: center;
    }

    .header-profile-img {
        width: 175px;
        height: 200px;
        background: white;
        border: 3px solid white;
        box-shadow: 0 0 30px 0 white;
    }
   
    .header-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        letter-spacing: .3em;
    }
      nav ul {
        flex-direction: column;
        height: auto;
      }
    
      nav li {
        margin: 0 auto;
        padding: .5rem;
      }
      nav a{
        font-size: 13pt;
      }
    .button, .button2 {
        background-color: #E4C5AF;
        border: none;
        color: white;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: auto;
        cursor: pointer;
      }
     
    .grid-1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 1;
  }
  .grid-2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 2;
  }
  .grid-3{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 3;
  }
  .grid-4{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 4;
  }
  .skills-description {
    color: #E4C5AF;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
  }